@media (max-width:768px) {
  main {width:100vw;}
}

.master-header{
  text-align: center;
  font-size: 26px;
  color: rgb(11, 167, 71);
}

.master-header-box{
}

.divider-large
{
  border-top: 10px solid royalblue;
}

.divider-small{
  background-color:darkblue;
  height: 2px;
}

nav {
background-color: rgb(224, 107, 34);
position:fixed;
z-index: 1;
top: 1px;
height:38em;
width:20em;
overflow-y:auto;
}

details > summary {
 
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: "+";
  
}
details[open] summary:after {
  content: "—";
}

nav .nav-link-sub, .nav-link{
  display: inline-block;
  

  
}

nav .nav-link{
padding-top: 5px;
padding-right: 5px;
margin: 6px 2px;
font-weight: bold;
}

nav .nav-link-sub{
  padding: 5px 0px 5px 30px;

}

body{
  width: 100vw;
  background-color: rgba(209, 208, 205, 0.699);
}

main {
  display:block;
  position: absolute;
  top:2em;
  left:21em;
  width: 52em;;
  text-align: justify;
  background-color:rgba(18, 126, 214, 0.199)
}

a {font-style: normal;
font-size:16px;
text-decoration:none;
color: gainsboro;}

.highlight {font-weight: bold;}

.color-highlight{color: rgb(11, 209, 11);}

.gtk {
  background-color: rgba(224, 14, 14, 0.178);
display: block;
margin:auto;
text-align: center;}
