@media screen and (min-width:480px) and (max-width:768px), (orientation:landscape) {
  main {width:73vw;}
  nav {width:20vw;}
  body {width: 100%;}
}

.master-header{
  text-align: center;
  font-size: 26px;
  color: rgb(11, 167, 71);
}

.divider-large
{
  border-top: 10px solid royalblue;
}

.divider-small{
  background-color:darkblue;
  height: 2px;
}

nav {
  background-color:rgba(132, 157, 167, 0.459);
  position:fixed;
  z-index: 1;
  top: 1px;
  height:38em;
  width:20em;
  overflow-y:auto;
  border: 2px solid red;
  border-radius: 10px;
}

details > summary {
 
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: "+";
  
}
details[open] summary:after {
  content: "—";
}

nav .nav-link-sub, .nav-link{
  display: inline-block; 
}

nav .nav-link{
  padding-top: 5px;
  padding-right: 6px;
  margin: 6px 3px;
  font-weight: bold;
}

nav .nav-link-sub{
  padding: 5px 0px 5px 30px;

}

body{
  width: 100vw;
  background-color:rgba(195, 220, 242, 0.422);
}

main {
  display:block;
  position: absolute;
  top:1em;
  left:21em;
  width:73vw;
  padding-bottom: 1em;
  text-align: justify;
  background-color:rgba(156, 208, 242, 0.217);
}

a {font-style: normal;
  font-size:16px;
  text-decoration:none;
  color: gainsboro;}

.highlight {font-weight: bold;}

.color-highlight{color: rgb(11, 209, 11);}

.gtk {
  background-color: rgba(224, 14, 14, 0.178);
  display:block;
  width: fit-content;
  padding-right: 100px;
  margin: auto;
  text-align: center;}

ul > li, ol > li{
  padding: 4px 4px;
}

P, h1, h2, h3, h4 {
  padding: 0 6px;
}

h1 {
text-decoration: underline;
text-align: center;
}